/boot/target/
/kern/target/
/common/target/

/boot/Cargo.lock
/kern/Cargo.lock
/common/Cargo.lock

/target
/Cargo.lock

# for testing purposes
*.bin
*.o
*.ini
*.log
*.bak
*.img

/build
/build/*.bin
/build/*.o
/build/boot.img
